.typographyTitle {
    font-weight: bold !important;
    text-align: center!important;
    display: flex !important;
    justify-content: center!important;
    align-items: center!important;
  }

  .accordionTitle {
    font-weight: bold !important;
  }
  
  .accordion {
    background-color: #e0e8eb !important;
    margin-top: 15px !important;
    border-radius: 14px !important;
  }

  .css-1c35hjw-MuiPaper-root-MuiAccordion-root::before {
    height: 0px !important;
  }

  .css-1wz20g3::before {
    height: 0px !important;
  }