.typographyTitle {
    font-weight: bold !important;
    text-align: center!important;
    display: flex !important;
    justify-content: center!important;
    align-items: center!important;
  }
  
  .accordion {
    background-color: #e0e8eb !important;
    margin-top: 15px !important;
    border-radius: 14px !important;
  }